h1,
h2 {
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

.current-temperature {
  font-size: 100px;
}
.current-weather {
  font-size: 50px;
  position: relative;
  top: 20px;
}
.temperature-today {
  font-size: 30px;
  position: relative;
  top: 37px;
  right: 3px;
}

.temperature-all {
  margin: 0 auto;
}
.extra-info {
  font-size: 30px;
}

.WindHumidity {
  padding-bottom: 20px;
}
.city-search {
  border: 2px solid white;
  border-radius: 5px;
  margin: 2px;
  background-color: white;
  color: #171254;
}

button {
  border-radius: 5px;
  color: #171254;
  background-color: white;
  border: 1px solid #171254;
  margin: 5px;
  transition: all 200ms ease-in-out;
}
button:hover {
  background: #171254;
  color: white;
}

#city-input {
  width: 60%;
}

.SearchForm {
  margin-top: 20px;
}

.Forecast {
  margin: 0 auto;
}

.col-3 {
  width: 20%;
}
