.App {
  text-align: center;
  background: linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
  max-width: 500px;
  padding: 50px;
  border-radius: 15px;
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  margin: 15px auto;
}

@media (max-width: 600px) {
  .App {
    border-radius: 0;
    margin: 0 auto;
  }
}
